.item-products-container {
        display: grid;
        grid-template-columns: 1fr;
        flex-wrap: wrap;
        border-radius: 1;
        padding: 2rem 0; 
        justify-items: center;
        align-items: center;
        margin: auto;
        width: fit-content;
        gap: 20px;
}
@media(min-width: 769px) {
    .item-products-container {
        grid-template-columns: 1fr 1fr;
    }
}
@media(min-width: 1200px) {
    .item-products-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.item-product {
    width: 360px;
}